In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [5]:
df = pd.read_excel('Election_Vulnerability_Index_downloadable_data 1.28.22.xlsx', sheet_name = 1, header=2)
df.head()

,Country/Territory,Region,Election Type,"Election Month, Year",A1,A2,A3,A4,A5,A6,...,C2,C3,C4,C5,C6,C7,C8,C9,C,Total
0,Albania,Europe,Parliamentary,"April, 2021",4,2,2,4,2,2,...,4,4,3,2,2,2,3,4,26,68
1,Angola,SSA,General,"August, 2022",3,4,4,3,1,3,...,2,2,2,1,1,1,2,4,16,46
2,Argentina,Americas,Legislative,"October, 2021",4,3,2,3,2,3,...,4,4,4,2,3,2,3,4,29,80
3,Bulgaria,Europe,Parliamentary,"April, 2021",4,4,2,2,2,2,...,4,4,4,3,2,3,2,4,28,76
4,Burkina Faso,SSA,General,"November, 2020",4,4,4,4,2,2,...,3,3,2,2,2,0,2,4,20,65