In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
import sklearn.metrics as metrics
from sklearn.svm import SVC

In [2]:
df = pd.read_excel('All_data_FIW_2013-2022.xlsx', sheet_name = 1, header=1)

In [21]:
df.head()

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2022,PF,5,5,2,2,1,...,1,1,4,1,1,2,1,5,23,40
1,Afghanistan,Asia,c,2022,NF,7,6,0,0,0,...,0,0,0,0,1,0,1,2,9,10
2,Albania,Europe,c,2022,PF,3,3,3,3,3,...,2,3,9,3,2,2,2,9,39,67
3,Algeria,Africa,c,2022,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,22,32
4,Andorra,Europe,c,2022,F,1,1,4,4,4,...,4,3,15,4,4,3,4,15,55,93

In [38]:
X = df.iloc[:, 7:-1]
X = X.drop(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'CL', 'PR', 'Add Q', 'Add A'], axis=1)
X = X.to_numpy()
X

array([[2, 2, 1, ..., 1, 2, 1],
       [0, 0, 0, ..., 1, 0, 1],
       [3, 3, 3, ..., 2, 2, 2],
       ...,
       [1, 0, 2, ..., 1, 1, 1],
       [3, 3, 3, ..., 2, 1, 2],
       [1, 1, 1, ..., 1, 1, 1]], dtype=int64)

In [39]:
y = df.iloc[:, 4]
y

0       PF
1       NF
2       PF
3       NF
4        F
        ..
2090    NF
2091    NF
2092    NF
2093    PF
2094    NF
Name: Status, Length: 2095, dtype: object

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 1)

In [47]:
dummy = DummyClassifier()
dummy.fit(X_train, y_train)
y_pred = dummy.predict(X_test)

print("Baseline Classifier Accuracy:",metrics.accuracy_score(y_test, y_pred))

learner = SVC(kernel = 'linear',gamma='auto')
learner.fit(X_train, y_train)
y_pred = learner.predict(X_test)
print("SVM Accuracy:",metrics.accuracy_score(y_test, y_pred))

Baseline Classifier Accuracy: 0.42748091603053434
SVM Accuracy: 0.9923664122137404