In [150]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
import sklearn.metrics as metrics
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [103]:
df = pd.read_excel('All_data_FIW_2013-2022.xlsx', sheet_name = 1, header=1)

In [104]:
df.head()

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2022,PF,5,5,2,2,1,...,1,1,4,1,1,2,1,5,23,40
1,Afghanistan,Asia,c,2022,NF,7,6,0,0,0,...,0,0,0,0,1,0,1,2,9,10
2,Albania,Europe,c,2022,PF,3,3,3,3,3,...,2,3,9,3,2,2,2,9,39,67
3,Algeria,Africa,c,2022,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,22,32
4,Andorra,Europe,c,2022,F,1,1,4,4,4,...,4,3,15,4,4,3,4,15,55,93

In [225]:
X = df.iloc[:, 7:-1]
X['Country/Territory'] = df['Country/Territory']
X = X.drop(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'CL', 'PR', 'Add Q', 'Add A'], axis=1)
# X = X.to_numpy()
X

,A1,A2,A3,B1,B2,B3,B4,C1,C2,C3,...,E3,F1,F2,F3,F4,G1,G2,G3,G4,Country/Territory
0,2,2,1,2,3,2,1,1,1,2,...,1,1,1,1,1,1,1,2,1,Abkhazia
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,1,Afghanistan
2,3,3,3,3,3,3,3,3,2,2,...,2,2,2,2,3,3,2,2,2,Albania
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,2,2,2,2,2,1,Algeria
4,4,4,4,4,4,4,3,3,4,4,...,3,4,4,4,3,4,4,3,4,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,0,0,2,1,1,1,2,0,1,1,...,2,2,2,0,1,1,1,2,1,West Bank
2091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,0,Western Sahara
2092,1,0,2,2,1,0,1,1,1,0,...,1,1,0,0,1,2,1,1,1,Yemen
2093,3,3,3,2,4,3,3,3,2,2,...,3,2,2,2,2,3,2,1,2,Zambia
2094,1,1,1,1,2,1,1,1,1,1,...,1,1,0,0,0,1,1,1,1,Zimbabwe

In [224]:
y = df.iloc[:,4]
y

0       PF
1       NF
2       PF
3       NF
4        F
        ..
2090    NF
2091    NF
2092    NF
2093    PF
2094    NF
Name: Status, Length: 2095, dtype: object

In [226]:
X_train, X_test, y_train, y_test = train_test_split(X,y,  random_state = 1)

In [222]:
y_test

859     PF
1233    PF
2013     F
1680    NF
1939     F
        ..
361     NF
1051    NF
115     PF
628     PF
336      F
Name: Status, Length: 524, dtype: object

In [223]:
X_train = pd.DataFrame(X_train)
X_train = pd.DataFrame(X_train).iloc[:, 0:-1]
X_train

,A1,A2,A3,B1,B2,B3,B4,C1,C2,C3,...,E2,E3,F1,F2,F3,F4,G1,G2,G3,G4
1769,2,2,2,3,2,2,2,1,1,1,...,2,2,1,1,1,2,2,1,2,2
434,1,1,2,2,1,2,2,1,1,2,...,2,1,1,1,1,1,3,2,2,2
534,4,4,4,4,4,4,3,4,3,3,...,4,4,3,4,3,3,4,3,3,2
30,0,0,1,0,0,1,1,0,1,1,...,1,1,0,1,1,1,2,1,2,1
536,4,4,4,4,4,4,3,4,3,3,...,4,3,4,4,4,3,4,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,2,2,2,2,2,2,3,2,1,2,...,3,2,2,2,1,2,3,2,2,2
905,4,4,4,4,4,4,3,4,4,4,...,4,4,4,4,3,3,4,4,4,3
1096,4,4,4,4,4,4,4,4,4,4,...,4,4,4,3,4,3,4,4,3,4
235,0,0,0,1,0,1,1,0,3,1,...,1,1,1,2,1,1,2,2,1,2
1061,0,1,1,0,0,0,0,1,2,0,...,0,1,0,1,0,0,1,2,2,1

In [227]:
dummy = DummyClassifier()
dummy.fit(X_train.iloc[:, 0:-1], y_train)
y_pred = dummy.predict(X_test.iloc[:, 0:-1])

print("Baseline Classifier Accuracy:",metrics.accuracy_score(y_test, y_pred))

learner = SVC(kernel = 'linear',gamma='auto')
learner.fit(X_train.iloc[:, 0:-1], y_train)
y_pred = learner.predict(X_test.iloc[:, 0:-1])
print("SVM Accuracy:",metrics.accuracy_score(y_test, y_pred))

Baseline Classifier Accuracy: 0.42748091603053434
SVM Accuracy: 0.9923664122137404

In [228]:
y_pred

array(['PF', 'PF', 'F', 'NF', 'F', 'NF', 'PF', 'NF', 'NF', 'PF', 'PF',
       'F', 'F', 'PF', 'PF', 'NF', 'F', 'PF', 'F', 'PF', 'F', 'F', 'F',
       'PF', 'F', 'NF', 'F', 'F', 'F', 'NF', 'F', 'NF', 'NF', 'PF', 'F',
       'NF', 'NF', 'PF', 'PF', 'F', 'NF', 'PF', 'NF', 'F', 'NF', 'PF',
       'F', 'PF', 'PF', 'F', 'PF', 'F', 'PF', 'F', 'NF', 'F', 'PF', 'NF',
       'F', 'NF', 'PF', 'NF', 'F', 'F', 'F', 'F', 'NF', 'F', 'F', 'NF',
       'NF', 'F', 'F', 'F', 'PF', 'PF', 'PF', 'F', 'PF', 'F', 'F', 'PF',
       'PF', 'PF', 'F', 'F', 'NF', 'NF', 'PF', 'PF', 'PF', 'NF', 'F', 'F',
       'PF', 'F', 'F', 'F', 'NF', 'NF', 'F', 'PF', 'PF', 'NF', 'PF', 'NF',
       'F', 'F', 'PF', 'F', 'PF', 'F', 'NF', 'NF', 'F', 'F', 'F', 'F',
       'NF', 'NF', 'F', 'F', 'NF', 'F', 'F', 'F', 'PF', 'PF', 'F', 'F',
       'F', 'PF', 'F', 'F', 'NF', 'NF', 'F', 'F', 'F', 'NF', 'PF', 'PF',
       'F', 'F', 'NF', 'PF', 'PF', 'PF', 'NF', 'NF', 'PF', 'PF', 'PF',
       'NF', 'F', 'NF', 'F', 'F', 'NF', 'F', 'NF', 'F', 'F', 'NF', 'PF',
       'F', 'F', 'F', 'PF', 'PF', 'NF', 'NF', 'F', 'PF', 'NF', 'F', 'PF',
       'NF', 'F', 'PF', 'NF', 'PF', 'F', 'NF', 'F', 'NF', 'PF', 'F', 'PF',
       'PF', 'F', 'F', 'PF', 'NF', 'F', 'F', 'NF', 'F', 'PF', 'F', 'PF',
       'F', 'F', 'PF', 'F', 'F', 'F', 'NF', 'F', 'F', 'NF', 'F', 'PF',
       'F', 'NF', 'F', 'F', 'NF', 'F', 'NF', 'NF', 'F', 'PF', 'PF', 'F',
       'PF', 'F', 'F', 'NF', 'F', 'PF', 'F', 'NF', 'F', 'F', 'F', 'F',
       'NF', 'NF', 'PF', 'PF', 'F', 'F', 'F', 'F', 'NF', 'F', 'F', 'NF',
       'NF', 'PF', 'PF', 'NF', 'NF', 'F', 'NF', 'PF', 'PF', 'NF', 'NF',
       'F', 'F', 'F', 'F', 'F', 'NF', 'PF', 'PF', 'NF', 'PF', 'PF', 'NF',
       'NF', 'NF', 'PF', 'NF', 'NF', 'F', 'PF', 'NF', 'F', 'NF', 'F', 'F',
       'PF', 'PF', 'PF', 'NF', 'F', 'NF', 'PF', 'PF', 'NF', 'F', 'F',
       'NF', 'NF', 'F', 'F', 'PF', 'F', 'NF', 'PF', 'F', 'NF', 'PF', 'F',
       'F', 'PF', 'F', 'NF', 'F', 'NF', 'PF', 'PF', 'PF', 'PF', 'F', 'NF',
       'PF', 'PF', 'PF', 'PF', 'NF', 'F', 'PF', 'PF', 'F', 'F', 'PF',
       'PF', 'NF', 'F', 'PF', 'F', 'F', 'NF', 'F', 'NF', 'NF', 'F', 'NF',
       'F', 'PF', 'NF', 'F', 'PF', 'F', 'NF', 'F', 'NF', 'PF', 'PF', 'F',
       'F', 'F', 'PF', 'F', 'NF', 'F', 'F', 'F', 'PF', 'F', 'F', 'F',
       'NF', 'F', 'PF', 'F', 'PF', 'F', 'PF', 'F', 'PF', 'PF', 'PF', 'F',
       'NF', 'NF', 'NF', 'F', 'NF', 'F', 'F', 'PF', 'F', 'F', 'F', 'F',
       'PF', 'PF', 'PF', 'F', 'NF', 'NF', 'F', 'F', 'NF', 'PF', 'NF',
       'NF', 'NF', 'F', 'F', 'PF', 'F', 'NF', 'NF', 'PF', 'F', 'NF', 'F',
       'F', 'F', 'PF', 'NF', 'F', 'F', 'PF', 'PF', 'F', 'NF', 'F', 'NF',
       'NF', 'PF', 'F', 'PF', 'F', 'NF', 'F', 'NF', 'NF', 'PF', 'NF', 'F',
       'NF', 'PF', 'F', 'NF', 'F', 'F', 'NF', 'F', 'F', 'F', 'NF', 'NF',
       'PF', 'F', 'F', 'PF', 'F', 'F', 'PF', 'PF', 'NF', 'NF', 'F', 'NF',
       'PF', 'F', 'PF', 'NF', 'PF', 'PF', 'F', 'NF', 'PF', 'NF', 'PF',
       'F', 'F', 'PF', 'F', 'PF', 'PF', 'PF', 'F', 'NF', 'F', 'F', 'NF',
       'F', 'F', 'NF', 'F', 'F', 'PF', 'F', 'PF', 'NF', 'F', 'PF', 'PF',
       'F', 'PF', 'NF', 'F', 'F', 'NF', 'PF', 'F', 'F', 'F', 'NF', 'PF',
       'PF', 'NF', 'NF', 'F', 'NF', 'NF', 'NF', 'PF', 'PF', 'F', 'F',
       'NF', 'NF', 'PF', 'PF', 'F'], dtype=object)

In [151]:
learner = KNeighborsClassifier()

learner.fit(X_train, y_train)
y_pred = learner.predict(X_test)
print("KNN Accuracy:",metrics.accuracy_score(y_test, y_pred))

KNN Accuracy: 0.9809160305343512