## EDA For Literacy Rate Affecting The Status Of The Countries

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns;

### Import the literacy rate for each country for time period = 2018

In [2]:
edu = pd.read_excel("Literacy-rate_2021-1.xlsx", sheet_name = 2, nrows = 203, header = 0)
edu = edu.drop(columns = ['Gender','Source'])
edu = edu.drop([0])
edu = edu.drop(columns=edu.columns[6])
edu = edu.rename(columns={"Unnamed: 9": "Time period"})
edu = edu.reset_index(drop=True)
edu

FileNotFoundError: [Errno 2] No such file or directory: 'Literacy-rate_2021-1.xlsx'

!!! Dropping the not classified countries

In [47]:
edu = edu[edu['Development Regions'] != 'Not Classified']
edu

,ISO3,Countries and areas,Region,Sub-region,Development Regions,Total,Time period
0,AFG,Afghanistan,SA,SA,Least Developed,43.019718,2018
1,ALB,Albania,ECA,EECA,More Developed,98.141151,2018
2,DZA,Algeria,MENA,MENA,Less Developed,81.407837,2018
3,AND,Andorra,ECA,WE,More Developed,NaN,NaN
4,AGO,Angola,SSA,ESA,Least Developed,NaN,NaN
...,...,...,...,...,...,...,...
197,VEN,Venezuela (Bolivarian Republic of),LAC,LAC,Less Developed,NaN,NaN
198,VNM,Viet Nam,EAP,EAP,Less Developed,95.000381,2018
199,YEM,Yemen,MENA,MENA,Least Developed,NaN,NaN
200,ZMB,Zambia,SSA,ESA,Least Developed,86.747963,2018
201,ZWE,Zimbabwe,SSA,ESA,Less Developed,NaN,NaN

In [56]:
allData = pd.read_excel("All_data_FIW_2013-2022.xlsx", sheet_name = 1, header=1)
allData = allData[allData['Edition'] == 2018]
allData = allData.reset_index(drop=True)
allData

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2018,PF,4,5,3,2,1,...,1,1,4,1,1,2,1,5,23,41
1,Afghanistan,Asia,c,2018,NF,5,6,1,0,1,...,0,1,2,0,1,0,1,2,14,26
2,Albania,Europe,c,2018,PF,3,3,3,3,2,...,2,3,9,3,2,2,2,9,40,68
3,Algeria,Africa,c,2018,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,25,35
4,Andorra,Europe,c,2018,F,1,1,4,4,4,...,4,3,15,4,4,4,4,16,57,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,West Bank,Middle East,t,2018,NF,7,5,0,0,2,...,0,1,5,1,1,2,1,5,23,28
205,Western Sahara,Africa,t,2018,NF,7,7,0,0,0,...,0,0,0,1,1,2,0,4,7,4
206,Yemen,Middle East,c,2018,NF,7,6,0,0,0,...,0,1,2,0,1,1,0,2,12,13
207,Zambia,Africa,c,2018,PF,4,4,2,2,2,...,2,2,8,3,2,2,1,8,33,55
208,Zimbabwe,Africa,c,2018,NF,6,5,0,1,1,...,0,1,3,2,1,1,1,5,20,30

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns;

In [45]:
edu = pd.read_excel("Literacy-rate_2021-1.xlsx", sheet_name = 2, nrows = 203, header = 0)
edu = edu.drop(columns = ['Gender','Source'])
edu = edu.drop([0])
edu = edu.drop(columns=edu.columns[6])
edu = edu.rename(columns={"Unnamed: 9": "Time period"})
edu = edu.reset_index(drop=True)
edu

,ISO3,Countries and areas,Region,Sub-region,Development Regions,Total,Time period
0,AFG,Afghanistan,SA,SA,Least Developed,43.019718,2018
1,ALB,Albania,ECA,EECA,More Developed,98.141151,2018
2,DZA,Algeria,MENA,MENA,Less Developed,81.407837,2018
3,AND,Andorra,ECA,WE,More Developed,NaN,NaN
4,AGO,Angola,SSA,ESA,Least Developed,NaN,NaN
...,...,...,...,...,...,...,...
197,VEN,Venezuela (Bolivarian Republic of),LAC,LAC,Less Developed,NaN,NaN
198,VNM,Viet Nam,EAP,EAP,Less Developed,95.000381,2018
199,YEM,Yemen,MENA,MENA,Least Developed,NaN,NaN
200,ZMB,Zambia,SSA,ESA,Least Developed,86.747963,2018
201,ZWE,Zimbabwe,SSA,ESA,Less Developed,NaN,NaN

!!! Dropping the not classified countries

In [47]:
edu = edu[edu['Development Regions'] != 'Not Classified']
edu

,ISO3,Countries and areas,Region,Sub-region,Development Regions,Total,Time period
0,AFG,Afghanistan,SA,SA,Least Developed,43.019718,2018
1,ALB,Albania,ECA,EECA,More Developed,98.141151,2018
2,DZA,Algeria,MENA,MENA,Less Developed,81.407837,2018
3,AND,Andorra,ECA,WE,More Developed,NaN,NaN
4,AGO,Angola,SSA,ESA,Least Developed,NaN,NaN
...,...,...,...,...,...,...,...
197,VEN,Venezuela (Bolivarian Republic of),LAC,LAC,Less Developed,NaN,NaN
198,VNM,Viet Nam,EAP,EAP,Less Developed,95.000381,2018
199,YEM,Yemen,MENA,MENA,Least Developed,NaN,NaN
200,ZMB,Zambia,SSA,ESA,Least Developed,86.747963,2018
201,ZWE,Zimbabwe,SSA,ESA,Less Developed,NaN,NaN

In [56]:
allData = pd.read_excel("All_data_FIW_2013-2022.xlsx", sheet_name = 1, header=1)
allData = allData[allData['Edition'] == 2018]
allData = allData.reset_index(drop=True)
allData

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2018,PF,4,5,3,2,1,...,1,1,4,1,1,2,1,5,23,41
1,Afghanistan,Asia,c,2018,NF,5,6,1,0,1,...,0,1,2,0,1,0,1,2,14,26
2,Albania,Europe,c,2018,PF,3,3,3,3,2,...,2,3,9,3,2,2,2,9,40,68
3,Algeria,Africa,c,2018,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,25,35
4,Andorra,Europe,c,2018,F,1,1,4,4,4,...,4,3,15,4,4,4,4,16,57,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,West Bank,Middle East,t,2018,NF,7,5,0,0,2,...,0,1,5,1,1,2,1,5,23,28
205,Western Sahara,Africa,t,2018,NF,7,7,0,0,0,...,0,0,0,1,1,2,0,4,7,4
206,Yemen,Middle East,c,2018,NF,7,6,0,0,0,...,0,1,2,0,1,1,0,2,12,13
207,Zambia,Africa,c,2018,PF,4,4,2,2,2,...,2,2,8,3,2,2,1,8,33,55
208,Zimbabwe,Africa,c,2018,NF,6,5,0,1,1,...,0,1,3,2,1,1,1,5,20,30